.track-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    width: 100%;
    max-width: 100%;
    border-radius: 16px;
    padding: 1.5%;
    margin: 1%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.04);
  }
  
  .track-content {
    display: flex;
    min-width: 0;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    padding: 0;
  }

  .track-content p {
    word-break: break-word;
    white-space: normal;
    max-width: 40ch;
    text-align: left;
  }
  .track-card.blue {
    background: #e0ecec;
  }

  .track-card.purple {
    background: #cfbede;
  }

  .learn-more.blue {
    background: #809393;
    color: #fff;
    border: none;
  }
  
  .learn-more.purple {
    background: #9f88b4;
    color: #fff;
    border: none;
  }
  
  .track-icon-and-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .track-icon-and-button .learn-more {
    margin-top: 12px;
  }
  
  @media (max-width: 600px) {
    .track-content h2 {
      font-size: 1rem;
    }
    .track-content p {
      font-size: 0.8rem;
    }
    .track-content p {
      max-width: 30ch;
    }
    .track-card {
      padding: 2%;
      margin: 2%;
    }
    .landing-page-headline {
      font-size: 0.8rem;
    }
    .learn-more {
      font-size: 0.8rem;
    }
  }